<!doctype html>
<html lang='en' ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Calendar application</title>
    <!-- <link rel="stylesheet" href="./css/materialize.css"> -->
    <link rel="stylesheet" href="./css/angular-material.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body layout="column">

    <!-- Navigation bar -->
    <nav id="navigation">
      <md-content>
        <md-toolbar>
          <h2 class="md-toolbar-tools">
            <span>Calendar</span>
          </h2>
        </md-toolbar>
      </md-content>
    </nav>

    <!-- Calendar content -->
    <section ng-controller="EventController as register" layout="column">

      <!-- Month Selector -->
      <md-tabs md-selected="register.selectedMonth" flex>

        <!-- Month -->
        <md-tab ng-repeat="month in register.months" label="{{ month.monthName }}">

          <!-- Month content -->
          <div>
            <!-- Day Labels -->
            <div layout="row" layout-margin>
              <div flex>
                Sunday
              </div>
              <div flex>
                Monday
              </div>
              <div flex>
                Tuesday
              </div>
              <div flex>
                Wednesday
              </div>
              <div flex>
                Thursday
              </div>
              <div flex>
                Friday
              </div>
              <div flex>
                Saturday
              </div>
            </div>

            <md-grid-list
                md-cols-gt-md="7" md-row-height="1:1" md-gutter="4px">
              <md-grid-tile
                  class="grey"
                  ng-repeat="day in month.days"
                  ng-click="register.current = day.id">

                  <form name="eventForm" ng-show="register.current === day.id">
                    <div layout layout-sm="column">
                      <md-input-container>
                        <label>New Event</label>
                        <input type="text" ng-model="register.newEvent.title">
                      </md-input-container>
                      <md-input-container>
                        <md-button class="md-accent md-raised"
                          ng-click="register.addEvent(day.id, register.newEvent)"
                          ng-show="register.adding">
                            Add
                        </md-button>
                      </md-input-container>
                      <md-input-container>
                        <md-button class="green md-raised"
                          ng-click="register.editEvent()"
                          ng-show="register.editing">
                            Edit
                        </md-button>
                      </md-input-container>
                    </div>
                  </form>

                  <md-subheader class="md-accent" ng-repeat="event in day.events">{{ event.title }}</md-subheader>

                  <md-grid-tile-footer><h3>{{ day.id }}</h3></md-grid-tile-footer>

              </md-grid-tile>
            </md-grid-list>

        </md-tab>
      </md-tabs>
    </section>
  </body>
  <!-- <body ng-cloak>

    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Calendar</a>
        <a href="#" data-activates="sidebar" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">About</a></li>
        </ul>
        <ul class="side-nav" id="sidebar">
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </nav>

    <div class="container" ng-controller="EventController as register">
      <table>
        <thead>
          <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thurday</th>
            <th>Friday</th>
            <th>Saturday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td ng-repeat="event in register.events.slice(0,7)">
              <div class="card-panel grey black-text lighten-5" ng-click="register.current = event.id">
                <div>
                  {{ event.id }}
                </div>
                <form ng-show="register.current === event.id">
                  <div id="new-event" class="row">
                    <div class="input-field col s6">
                      <input type="text" id="first-name" class="validate" ng-model="register.newEvent.title">
                    </div>
                    <div class="input-field col s6">
                      <button class="btn red lighten-3" ng-click="register.addEvent(event.id, register.newEvent)" ng-show="register.adding">Add event</button>
                      <button class="btn blue lighten-3" ng-click="register.editEvent()" ng-show="register.editing">Edit event</button>
                    </div>
                  </div>
                  <div id="current-events">
                    <ul class="collection">
                      <li class="collection-item" ng-repeat="dayEvent in event.events">{{ dayEvent.title }}<a href="#" class="blue lighten-3 black-text" ng-click="register.prepareEdit(event.id, dayEvent, $index)">Edit</a><a href="#" class="red lighten-3 black-text" ng-click="register.removeEvent(event.id, $index)">Delete</a></li>
                    </ul>
                  </div>
                </form>
                <div ng-repeat="dayEvent in event.events.slice(0, 2)">
                  <span class="red lighten-3 black-text" >{{ dayEvent.title.slice(0, 8) }}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td ng-repeat="event in register.events.slice(7,14)">
              <div class="card-panel grey black-text lighten-5" ng-click="register.current = event.id">
                <div>
                  {{ event.id }}
                </div>
                <form ng-show="register.current === event.id">
                  <div id="new-event" class="row">
                    <div class="input-field col s6">
                      <input type="text" id="first-name" class="validate" ng-model="register.newEvent.title">
                    </div>
                    <div class="input-field col s6">
                      <button class="btn red lighten-3" ng-click="register.addEvent(event.id, register.newEvent)" ng-show="register.adding">Add event</button>
                      <button class="btn blue lighten-3" ng-click="register.editEvent()" ng-show="register.editing">Edit event</button>
                    </div>
                  </div>
                  <div id="current-events">
                    <ul class="collection">
                      <li class="collection-item" ng-repeat="dayEvent in event.events">{{ dayEvent.title }}<a href="#" class="blue lighten-3 black-text" ng-click="register.prepareEdit(event.id, dayEvent, $index)">Edit</a><a href="#" class="red lighten-3 black-text" ng-click="register.removeEvent(event.id, $index)">Delete</a></li>
                    </ul>
                  </div>
                </form>
                <div ng-repeat="dayEvent in event.events.slice(0, 2)">
                  <span class="red lighten-3 black-text" >{{ dayEvent.title.slice(0, 8) }}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td ng-repeat="event in register.events.slice(14,21)">
              <div class="card-panel grey black-text lighten-5" ng-click="register.current = event.id">
                <div>
                  {{ event.id }}
                </div>
                <form ng-show="register.current === event.id">
                  <div id="new-event" class="row">
                    <div class="input-field col s6">
                      <input type="text" id="first-name" class="validate" ng-model="register.newEvent.title">
                    </div>
                    <div class="input-field col s6">
                      <button class="btn red lighten-3" ng-click="register.addEvent(event.id, register.newEvent)" ng-show="register.adding">Add event</button>
                      <button class="btn blue lighten-3" ng-click="register.editEvent()" ng-show="register.editing">Edit event</button>
                    </div>
                  </div>
                  <div id="current-events">
                    <ul class="collection">
                      <li class="collection-item" ng-repeat="dayEvent in event.events">{{ dayEvent.title }}<a href="#" class="blue lighten-3 black-text" ng-click="register.prepareEdit(event.id, dayEvent, $index)">Edit</a><a href="#" class="red lighten-3 black-text" ng-click="register.removeEvent(event.id, $index)">Delete</a></li>
                    </ul>
                  </div>
                </form>
                <div ng-repeat="dayEvent in event.events.slice(0, 2)">
                  <span class="red lighten-3 black-text" >{{ dayEvent.title.slice(0, 8) }}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td ng-repeat="event in register.events.slice(21,28)">
              <div class="card-panel grey black-text lighten-5" ng-click="register.current = event.id">
                <div>
                  {{ event.id }}
                </div>
                <form ng-show="register.current === event.id">
                  <div id="new-event" class="row">
                    <div class="input-field col s6">
                      <input type="text" id="first-name" class="validate" ng-model="register.newEvent.title">
                    </div>
                    <div class="input-field col s6">
                      <button class="btn red lighten-3" ng-click="register.addEvent(event.id, register.newEvent)" ng-show="register.adding">Add event</button>
                      <button class="btn blue lighten-3" ng-click="register.editEvent()" ng-show="register.editing">Edit event</button>
                    </div>
                  </div>
                  <div id="current-events">
                    <ul class="collection">
                      <li class="collection-item" ng-repeat="dayEvent in event.events">{{ dayEvent.title }}<a href="#" class="blue lighten-3 black-text" ng-click="register.prepareEdit(event.id, dayEvent, $index)">Edit</a><a href="#" class="red lighten-3 black-text" ng-click="register.removeEvent(event.id, $index)">Delete</a></li>
                    </ul>
                  </div>
                </form>
                <div ng-repeat="dayEvent in event.events.slice(0, 2)">
                  <span class="red lighten-3 black-text" >{{ dayEvent.title.slice(0, 8) }}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td ng-repeat="event in register.events.slice(28)">
              <div class="card-panel grey black-text lighten-5" ng-click="register.current = event.id">
                <div>
                  {{ event.id }}
                </div>
                <form ng-show="register.current === event.id">
                  <div id="new-event" class="row">
                    <div class="input-field col s6">
                      <input type="text" id="first-name" class="validate" ng-model="register.newEvent.title">
                    </div>
                    <div class="input-field col s6">
                      <button class="btn red lighten-3" ng-click="register.addEvent(event.id, register.newEvent)" ng-show="register.adding">Add event</button>
                      <button class="btn blue lighten-3" ng-click="register.editEvent()" ng-show="register.editing">Edit event</button>
                    </div>
                  </div>
                  <div id="current-events">
                    <ul class="collection">
                      <li class="collection-item" ng-repeat="dayEvent in event.events">{{ dayEvent.title }}<a href="#" class="blue lighten-3 black-text" ng-click="register.prepareEdit(event.id, dayEvent, $index)">Edit</a><a href="#" class="red lighten-3 black-text" ng-click="register.removeEvent(event.id, $index)">Delete</a></li>
                    </ul>
                  </div>
                </form>
                <div ng-repeat="dayEvent in event.events.slice(0, 2)">
                  <span class="red lighten-3 black-text" >{{ dayEvent.title.slice(0, 8) }}</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->

    <!-- Vendor script files -->
    <script src="./js/vendor/angular.js"></script>
    <!-- <script src="./js/vendor/jquery.js"></script>
    // <script src="./js/vendor/materialize.js"></script> -->
    <script src="./js/vendor/angular-animate.js"></script>
    <script src="./js/vendor/angular-aria.js"></script>
    <script src="./js/vendor/angular-material.js"></script>

    <!-- Application script files -->
    <script src="js/app/app.js"></script>
    <script src="js/app/event/event.module.js"></script>
    <script src="js/app/event/services/event.service.js"></script>
    <script src="js/app/event/controllers/event.controller.js"></script>
  </body>
</html>